@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-slider-track {
  width: 200%; /* Because you have 2 sets of logos */
}

.animate-slide {
  animation: slide 30s linear infinite;
}
